@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: rgb(248 250 252);

}

.bg-check{
  background-color: rgb(248 250 252);
}

.changePos{
    position:fixed;
    left: 70%;
    top: 12%;
}

.exp{
    max-width: 800px;
    margin: 0 auto;
}

ul {
    list-style: disc;
    color: #666;
    margin-left: 20px;
    margin-bottom: 20px;
  }

  li {
    margin-bottom: 10px;
  }

.bien{
    justify-content: center;
    height: 250px;
    width: 250px;
    left: 42%;
    position: relative;
    font-size: x-large;
    top: 55px;
    color:seagreen;
}

#p1{
    margin-bottom: 15px;
}

#p2{
    margin-bottom: 15px;
}

#p3{
    margin-bottom: 15px;
}

.ml{
    margin-left: 150px;
}

.about{
    color: seagreen;
    justify-content: center;
    margin-left: 100px;
    margin-right: 50px;
}

.disp{
    display: inline;
}


.arrow-list {
    list-style-type: none;
    padding-left: 0; /* Optional, to remove default indentation */
    color: seagreen;
  }
  
  .arrow-list li {
    position: relative;
    padding-left: 20px; /* Adjust the value as needed */
  }
  
  .arrow-list li::before {
    content: "";
    position: absolute;
    top: 10px; /* Adjust the value to vertically center the arrow */
    left: 0;
    width: 7px; /* Adjust the size of the arrow */
    height: 7px; /* Adjust the size of the arrow */
    border-top: 2px solid black; /* Adjust the color and thickness of the arrow */
    border-right: 2px solid black; /* Adjust the color and thickness of the arrow */
    transform: rotate(45deg); /* Rotate the arrow to point diagonally */
  }


  .navbarBorder{
    border-bottom: 1px solid rgb(203 213 225);

  }

